nav.navbar 
    .nav-logo 
        a(href='/') SpaceYZ
    ul.nav-menu
        li.nav-item 
            a(href="/").nav-link Home
            a(href="/apod").nav-link Atronomy Pictures
            a(href="/spaceNews").nav-link NASA News